version: '3'
services:
  PersonalityEmulator_dev_service:
    build:
      context: ./
    image: PersonalityEmulator_dev_image:latest
    container_name: PersonalityEmulator_dev_container
    restart: always
    stdin_open: true
    tty: true
    ports:
      - "50021:50021"
      - "50030:50030"
      - "50050:50050"
      - "50100:50100"
      - "50101:50101"