services:
  personality_emulator_dev_service:
    build:
      context: ./
    image: personality_emulator_dev_image:latest
    container_name: personality_emulator_dev_container
    volumes:
      - ..:/workspace:cached
      - ${XDG_RUNTIME_DIR}/pulse/native:${XDG_RUNTIME_DIR}/pulse/native
      - ~/.config/pulse/cookie:/root/.config/pulse/cookie
    restart: always
    stdin_open: true
    tty: true
    ports:
      # - "50021:50021"  # ホスト側のVOICEVOXアプリを使用する場合はコメントアウト
      - "50030:50030"
      - "50050:50050"
      - "50100:50100"
      - "50101:50101"
    extra_hosts:
      - "host.docker.internal:host-gateway"  # コンテナからホストへのアクセス
    devices:
      - /dev/snd:/dev/snd
    environment:
      - PULSE_SERVER=unix:${XDG_RUNTIME_DIR}/pulse/native
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]