services:
  personality_emulator_dev_service:
    build:
      context: ./
    image: personality_emulator_dev_image:latest
    container_name: personality_emulator_dev_container
    volumes:
      - ..:/workspace:cached
    restart: always
    stdin_open: true
    tty: true
    ports:
      - "50021:50021"
      - "50030:50030"
      - "50050:50050"
      - "50100:50100"
      - "50101:50101"
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]