version: '3'
services:
  my_service:
    build:
      context: ./
    image: pe_env:latest
    container_name: pe_env_container
    restart: always
    stdin_open: true
    tty: true
    ports:
      - "50021:50021"
      - "50030:50030"
      - "50050:50050"
      - "50100:50100"
      - "50101:50101"